.App {
  text-align: center;
  padding: 10px;
  background-color: #acccc0e3;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; 
}

.header {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

.line {
  margin-top: 30px;
  margin-bottom: 0;
  width: 100%;
}

.NoteForm {
  width: 100%;
  max-width: 1000px;
}

span {
  font-size: 1.2rem;
}

hr {
  border: none;
  height: 2px;
  background-color: #6d9ac4;
  width: 100%;
}

a {
  color: rgba(8, 152, 235, 0.685);
  padding: 0 5px;
}

.parent {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-gap: 15px;
  margin-top: 20px;
  text-align: center;
}

.div1, .div2, .div3, .div4, .div5 {
  min-width: 250px;
  width: 100%;
}

.parent input, textarea, select {
  width: -webkit-fill-available;
}