html, body {
  height: 100%;
  margin: 0;
}

.app-container {
  padding: 10px;
  background-color: #3b110fe3; /* Цвет фона */
  min-height: 100vh; /* Минимальная высота 100% от высоты экрана */
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Выравнивание содержимого по верхнему краю */
}

.pop-up-menu {
  margin: 10% auto;
}